.main {
  display: column;
  font-size: 12px;
  text-align: center;
}
.date {
  color: #333;
}
.row {
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 10px;
  justify-content: space-between;
}

.col {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 20px;
}

.search {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  border: none;
  padding: 0.5rem;
  outline: none;
  background-color: #111;
  border-radius: 10px;
  font-size: 1rem;
}

.title {
  font-size: 25px;
}

.home {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  font-size: 2rem;
}

/* add mobile css */

@media (max-width: 768px) {
  .main {
    font-size: 10px;
    padding: 0rem;
  }
  .col {
    gap: 10px;
  }
  .search {
    font-size: 1rem;
  }
  .copy {
    font-size: 0.8rem;
  }
  .title {
    font-size: 16px;
  }
  .home {
    font-size: 1.5rem;
  }
}
